/* #### Vatiables #### */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --dark-primary-color: #ffcbf2;
    /* Background */
    --default-primary-color: #c0fdff;
    /* Background */
    --light-primary-color: #D1C4E9;
    /* Background */
    --text-primary-color: #FFFFFF;
    /* Color */
    --accent-color: #FF5722;
    /* Background */
    --primary-text-color: #212121;
    /* Color */
    --secondary-text-color: #757575;
    /* Color */
    --divider-color: #BDBDBD;
    /* Border-Color */
    --TextStyleHome: 'Yellowtail';
    --TextStyleHomeProperties: cursive;
}

/* #### Iniciadores #### */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;  
} 


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/wordcloud04.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.card .card01 {
    position: relative;
    width: 400px;
    height: 400px;
    margin-inline: 30px;    
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card01 .face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: -10px -10px 5px rgba(255, 255, 255, 0.05),
                -3px -3px 2px rgba(255, 255, 255, 0.3),
                4px 4px 3px rgba(0, 0, 0, 0.5),
                10px 10px 5px rgba(0, 0, 0, 0.2);
}

.clogo {
    padding: 10px;
    position: relative;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    box-shadow: inset -10px -10px 5px rgba(255, 255, 255, 0.05),
                inset -3px -3px 2px rgba(255, 255, 255, 0.3),
                inset 4px 4px 3px rgba(0, 0, 0, 0.5),
                inset 10px 10px 5px rgba(0, 0, 0, 0.2);

}

.ctext {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 20s linear infinite;    
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ctext span {
    position: absolute;
    left: 50%;
    font-size: 1.7em;
    font-family: 'Orbitron', sans-serif;
    transform-origin: 0 150px;
}

.card01:hover  .face.front, .card01:active  .face.front {
    transform: rotateY(180deg);
}

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.3);
    box-shadow: inset -10px -10px 5px rgba(255, 255, 255, 0.05),
                inset -3px -3px 2px rgba(255, 255, 255, 0.3),
                inset 4px 4px 3px rgba(0, 0, 0, 0.6),
                inset 10px 10px 5px rgba(0, 0, 0, 0.4);
}

#about h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

#about p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

.card01 .face.back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
}

.card01:hover .face.back, .card01:active .face.back {
    transform: rotateY(360deg);
}

.card .card02 {
    position: relative;
    width: 150px;
    height: 400px;
    margin-inline: 30px;
}

.card02 .socialNetworksMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
}

.socialNetworksMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socialNetworksIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    box-shadow: -10px -10px 5px rgba(255, 255, 255, 0.05),
                -3px -3px 2px rgba(255, 255, 255, 0.3),
                4px 4px 3px rgba(0, 0, 0, 0.5),
                10px 10px 5px rgba(0, 0, 0, 0.2);

}

.socialNetworksIcon:hover {

    box-shadow: inset -10px -10px 5px rgba(255, 255, 255, 0.05),
                inset -3px -3px 2px rgba(255, 255, 255, 0.3),
                inset 4px 4px 3px rgba(0, 0, 0, 0.5),
                inset 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.socialNetworksIcon a {
    font-size: 60px;
}

#linkedin:hover a, #twitter:hover a, #facebook:hover a, #github:hover a {
    color: rgb(255, 255, 255, 0.9);
}

#linkedin a {
    color: rgba(14, 118, 168, 0.5);
}
    
#linkedin:hover {
    background-color: rgba(14, 118, 168, 0.6);
}

#twitter a {
    color: rgba(0, 172, 238, 0.5);
}
    
#twitter:hover {
    background-color: rgba(0, 172, 238, 0.6);
}

#facebook a {
    color: rgba(59, 89, 152, 0.5);
}
    
#facebook:hover {
    background-color: rgba(59, 89, 152, 0.6);
}

#github a {
    color: rgba(23, 21, 21, 0.5);
}
    
#github:hover {
    background-color: rgba(23, 21, 21, 0.7);
}

